In [2]:
#import dependencies
from bs4 import BeautifulSoup as bs
from splinter import Browser
import os
import pandas as pd
import requests

In [3]:
#----------NASA Mars News -------------

In [4]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [11]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)
html = browser.html
soup = bs(html, "html.parser")

In [15]:
article = soup.find("div", class_='list_text')
news_title = article.find('div', class_='content_title').text
news_p = article.find('div', class_="article_teaser_body").text
print(new_title)
print(news_p)

AttributeError: 'NoneType' object has no attribute 'find'

In [ ]:
#----------JPL Mars Space ----------------

In [16]:
jpl_image_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(jpl_image_url)
html = browser.html
soup = bs(html, "html.parser")

In [17]:
image = soup.find("img", class_="thumb")["src"]
featured_image_url = "https://www.jpl.nasa.gov" + image
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA24032-640x350.jpg

In [ ]:
#----------Mars Weather ----------------

In [18]:
#get Mars weather twitter account and scrap lastest tweet
url_weather = "https://twitter.com/marswxreport?lang=en"
browser.visit(url_weather)

In [26]:
html_weather = browser.html
soup = bs(html_weather, "html.parser")

mars_weather = soup.find("div", class_=TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text
print(mars_weather)

SyntaxError: invalid syntax (<ipython-input-26-d0cec671f9e7>, line 4)

In [ ]:
#----------Mars Facts ----------------

In [30]:
#scrape Mars fact table
url_mars_facts = "https://space-facts.com/mars/"
mars_facts_table=pd.read_html(url_mars_facts)
mars_facts_table [0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [33]:
df_mars_facts = mars_facts_table[0]
df_mars_facts.column = ["Parameter", "Values"]
df_mars_facts.set_index(["Parameter"])

KeyError: "None of ['Parameter'] are in the columns"