In [2]:
#import dependencies
from bs4 import BeautifulSoup as bs
from splinter import Browser
import os
import pandas as pd
import requests

In [3]:
#----------NASA Mars News -------------

In [4]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [11]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)
html = browser.html
soup = bs(html, "html.parser")

In [15]:
article = soup.find("div", class_='list_text')
news_title = article.find('div', class_='content_title').text
news_p = article.find('div', class_="article_teaser_body").text
print(new_title)
print(news_p)

AttributeError: 'NoneType' object has no attribute 'find'

In [ ]:
#----------JPL Mars Space ----------------

In [16]:
jpl_image_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(jpl_image_url)
html = browser.html
soup = bs(html, "html.parser")

In [17]:
image = soup.find("img", class_="thumb")["src"]
featured_image_url = "https://www.jpl.nasa.gov" + image
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA24032-640x350.jpg

In [ ]:
#----------Mars Weather ----------------

In [55]:
#get Mars weather twitter account and scrap lastest tweet
url_weather = "https://twitter.com/marswxreport?lang=en"
browser.visit(url_weather)

In [59]:
#html_weather = browser.html
#soup = bs(html_weather, "html.parser")

from selenium import webdriver
driver = webdriver.Chrome()
driver.get(url_weather)
html = driver.page_source
driver.close()

mars_weather = soup.find('span', {'class':"css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0"})
print(mars_weather)

None

In [ ]:
#----------Mars Facts ----------------

In [30]:
#scrape Mars fact table
url_mars_facts = "https://space-facts.com/mars/"
mars_facts_table=pd.read_html(url_mars_facts)
mars_facts_table [0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [44]:
df_mars_facts = mars_facts_table[0]
df_mars_facts.columns = ["Parameter", "Values"]
df_mars_facts.set_index("Parameter")
df_mars_facts

              Parameter                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [48]:
mars_html_table = df_mars_facts.to_html()
mars_html_table = mars_html_table.replace("\n","")
mars_html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Parameter</th>      <th>Values</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [ ]:
#----------Mars Hemispheres ----------------

In [52]:
url_mars_hemisphere = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url_mars_hemisphere)
html = browser.html
soup=bs(html, "html.parser")
mars_hemisphere = []

In [53]:
products = soup.find("div", class_="result-list")
hemisphere = products.find_all("div", class_="item")

for hemisphere in hemisphere:
    title = hemisphere.find('h3').text
    title = title.replace('Enhanced',"" )
    end_link = hemisphere.find("a")["href"]
    image_link = "https://astrogeology.usgs.gov/"+ end_link
    browser.visit(image_link)
    html = browser.html
    soup=bs(html, "html.parser")
    downloads = soup.find("div", class_="downloads")
    image_url = downloads.find("a")["href"]
    mars_hemisphere.append({"title":title,"img_url":image_url})

In [54]:
mars_hemisphere

[{'title': 'Cerberus Hemisphere ',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere ',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere ',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere ',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]